.books-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    padding: 16px; 
    margin: 50px auto 0;
    box-sizing: border-box; 
    max-width: 1200px; 
  }
  
  .MuiGrid-root {
    justify-content: center;
  }
  .header{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .sort-container{
    border-radius:1vh;
    padding:0.5%;
    border: 0.5px solid rgb(42, 42, 42);
  }
  select {
    border: none; 
     
    background-color: transparent; 
  }